{% extends 'base.html' %}

{% block body %}
<form class="m-5" action="/" method="POST">
    <div class="mb-3 p-3">
        <label class="form-label" for="title">Title</label>
        <input class="form-control" type="text" name="title">
    </div>
    <div class="mb-3 p-3">
        <label class="form-label" for="detail">Detail</label>
        <input class="form-control"  type="text" name="detail">
    </div>
    <div class="mb-3 p-3">
        <label for="due">Due</label>
        <input type="date" name="due" required>        
    </div>
    <input class="btn btn-outline-primary me-3" type="submit" value="Create">
    <a class="btn btn-primary" href="/" role="button">Return</a>
  </form> 
{% endblock %}